*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
}
nav{
    background-color: #333333;
    padding:8px;
    display:flex;
    justify-content: center;
}

.profile-page{
    display: flex;
    justify-content: center;
    margin-top:30px;

    
}
main{
    width: 55%;  
    margin-right:30px;
}

aside{
    width:25%;
}
.left-nav{
    display: flex;
    width:55%;
    margin: 0 30px 0 0;
}

.nav-title{
    font-size:2.5rem;
    color: white;
    margin:auto 20px 0 0 ;
}

li{
    list-style: none;
    vertical-align: center;
    margin: auto 20px;
    font-size: 1rem;
}
.nav-links{
    display: flex;
    vertical-align: center;
}
nav a{
    text-decoration: none;
    color:#BFBFBF;
}

nav a:hover{
    color: white;
}
.right-nav{
    width:25%;
    text-align: right;

}
.signout{
    background-color: #17A2B8;
    border: 3px solid black;
    color:white;
    height: 35px;
    font-size: 1rem;
    box-shadow: 5px 5px black;
    padding: 0 20px;
    margin:8px 0;
}
.signout:hover{
    background-color: #3ed9f1;
    color:black;
    cursor: pointer;
}

.profilePic{
    height: 150px;
    border-radius: 80px;
    border: 3px solid #CCCCCC;
    padding:3px;
    background-color: white;
    margin-top:-75px;
}

.header-color{
    height:150px;
    width: inherit;
    background-color: #17A2B8;
}


.profile-icons .icon{
    height:25px;
    width:auto;
    margin: auto 10px auto 0 ;
}

.profile-info h2{
    font-size: 2rem;
}

.profile-icons{
    margin:10px 0;
    display:flex;

}

.profile-info {
    padding:0 0 10px 30px;
    margin: 0;
    border-width:0 3px 3px 3px;
    border-color: #CCCCCC;
    border-style: solid;
}

.education {
    margin-top: 30px;
}
.education h2 {
    background-color: #333333;
    color: white;
    padding: 10px 30px;
    font-size: 18px;

}
.education-content{
    padding-left:30px;
    border-width:0 3px 3px 3px;
    border-color:#CCCCCC;
    border-style: solid;
}
.education h3{
    padding: 10px 0px;
    font-size: 1.5rem;
}
.education h4{
    color: #777777;
    font-size: 1.2rem;
    font-weight: 200;
}
.education p {
    margin: 10px 0 ;
    
}
.your-connections{
    margin-top:30px;

}

.title{
    background-color: #333333;
    display: flex;
    padding: 10px;
    width: inherit;

}
.connection-request h2, .your-connections h2{
    color: white;
    font-size: 18px;
    margin: auto 0;
}
.counter {
    background-color: #CCCCCC;
    border-radius:100px;
    font-size: 18px;
    text-align:center;
    margin-right: 10px;
    padding:5px 10px;
    display:inline-block;
}


.user{
    display:flex;
    padding: 15px 7px 0 15px;
    margin-bottom:7px;
    flex-wrap: wrap;
}
.user img{
    width: 45px;
    border-radius: 25px;
}

.user .icon{
width:30px;
height: auto;
}
.user p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.request-answer{
    margin-left:auto;
}
.request-answer button {
    border:none;
    background: none;
    cursor: pointer;
}
.connection , footer{
    border-width:0 3px 3px 3px;
    border-color:#CCCCCC;
    border-style: solid;
    margin:0;
    width: inherit;
}

footer a{
display:block;

margin-top: auto ;
font-size: 1.2rem;
padding:15px 30px;
}

